html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
}

.logoimg {
    height: 3.5rem;
}

.modal-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

//Takequiz
.limiter {
    width: 100%;
    margin: 0 auto;
  }
  .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;  
  }
  .wrap-login100 {
    width: 390px;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .login100-form {
    width: 100%;
  }
  
  .login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 30px;
  }
  
  .login100-form-avatar {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  
  .login100-form-avatar img {
    width: 100%;
  }
  .wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 20px;
  }
  .input100 {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 30px;
    background: transparent;
    padding: 0 5px;
  }
  .focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  /*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 30px;
    background-color:#00bf6f;
    border-radius: 10px;
  
    box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login100-form-btn:hover  {
    background-color: #333333;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  }